body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}


body {
    background: #fff;
}

/* optional Container STYLES */
.chart {
    height: 159px;
    width: 332px;
    margin: 5px auto;
    border: 3px solid #DDD;
    border-radius: 3px;
}

.node {
    color: #9CB5ED;
    border: 2px solid #C8C8C8;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    /*white-space: pre-line;*/
}

.node p {
    font-size: 20px;
    line-height: 20px;
    /*height: auto;*/
    font-weight: bold;
    padding: 3px;
    margin: 0;
    font-family: sans-serif;
}

.cluster {
    border-radius: 10px;
    border-color: #9CB5ED;
}

.activeCluster {
    font-style: italic;
}

.JMeasure {
    color: darkgreen;
    display: none;
}